nav {
    margin-bottom: 20px;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
    display: flex;
    gap: 50px;
    padding: 10px;
}
.hero .hero-content img {
    width: 100%;
    height: auto;
}