nav {
    padding: 10px 5px;
    text-decoration: none;
    display: flex;
    gap: 25%;

    
}
nav ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    padding: 10px;
    justify-content: center;
   
}
nav .nav-button {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(2, 169, 69);
    border-radius: 5px;
    cursor: pointer;
}
nav .nav-button:hover {
    background-color: rgb(61, 248, 139);
    color: black;
}
.hero .hero-content img {
    width: 100%;
    height: auto;
}

.problems .container .cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.problems .container .cards .card{
    width: 300px;
    height: 200px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px
}